PROJECT_ROOT=$HOME/work/jm020827/califreeEEG
CFEG_HF_ROOT=$HOME/nvme/cache/interns/hf
CFEG_EXTERNAL_ROOT=$HOME/nvme/cache/interns/hf
EEG_DATA_ROOT=$HOME/work/jm020827/califreeEEG/.local/eeg_data
EEG_MODEL_ROOT=$HOME/nvme/cache/interns/hf/eeg_models
HF_HOME=$HOME/nvme/cache/interns/hf
HF_TOKEN=
MNE_DATA=$HOME/work/jm020827/califreeEEG/.local/eeg_data/mne_data
WANDB_API_KEY=
WANDB_DIR=$HOME/work/jm020827/califreeEEG/.local/wandb
